@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Roboto:300,300i,400,400i,500,700,700i&display=swap');

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}

.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #131313;
  letter-spacing: 3px;
  text-align: center;
  color: #131313 !important;
  text-transform: uppercase;
}
.boxed-btn:hover {
  background: #131313;
  color: #fff !important;
  border: 1px solid #131313;
}
.boxed-btn:focus {
  outline: none;
}
.boxed-btn.large-width {
  width: 220px;
}
.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.progress-table {
  background: white;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}
.progress-table .serial {
  width: 20%;
  padding-left: 50px;
}
.progress-table .country {
  width: 20%;
}
.progress-table .visit {
  width: 20%;
}
.progress-table .percentage {
  width: 20%;
}
.progress-table .result {
  width: 20%;
  padding-right: 50px;
}
.progress-table .table-head {
  display: flex;
}
.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage,
.progress-table .table-head .result {
  color: #0626b8;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}
.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}
.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage,
.progress-table .table-row .result {
  align-items: center;
}
.progress-table .table-row .country img {
  margin-right: 15px;
}
.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}
.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
}
.list-style {
  width: 14px;
  height: 14px;
}

a.text:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
a.text:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
a.m:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
.menubar {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans',
    'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.menubar ul {
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menubar li {
  float: left;
  padding: 0px;
}

.menubar li a {
  background: rgb(109, 109, 109);
  color: white;
  display: block;
  font-weight: normal;
  line-height: 50px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}

.menubar li a:hover,
.menubar ul li:hover a {
  background: rgb(71, 71, 71);
  color: #ffffff;
  text-decoration: none;
}

.menubar li ul {
  background: rgb(109, 109, 109);
  display: none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
  /*top:1em;
    /*left:0;*/
}

.menubar li:hover ul {
  display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
  background: rgb(109, 109, 109);
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
}

.menubar li:hover li a {
  background: none;
}

.menubar li ul a {
  display: block;
  height: 50px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

.menubar li ul a:hover,
.menubar li ul li:hover a {
  background: rgb(71, 71, 71);
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}

.menubar p {
  clear: left;
}

a.w {
  color: rgb(161, 228, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a.r {
  color: blue;
}
a.d {
  background-color: white;
  color: black;
}
